.demo-1 {
    position: relative;
    width: 200px;
    height: 200px;
    overflow:hidden;
    background-color:goldenrod;
    text-align:start;
    align-items: center;
    border-radius: 4px;
}

.effect img {    
    position: absolute;
    border-radius: 4px;
    width: auto;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: default;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    user-select: none;        
    transform: translate(-5%, -5%) scale(1); /* Inicialmente centrado y sin escalar */
}

.effect img:hover {    
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8); /* Movimiento hacia abajo y a la izquierda con escalado */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Agregar sombra */
    user-select: none;
    -webkit-user-drag: none; /* Evitar arrastrar imágenes en navegadores webkit */
    -moz-user-drag: none; /* Evitar arrastrar imágenes en navegadores Firefox */
    -ms-user-drag: none; /* Evitar arrastrar imágenes en navegadores Microsoft Edge */
    user-drag: none; /* Evitar arrastrar imágenes */
}


a {    
    transition: background-color .4s;
      color: black;
      user-select: none;
  }
  
  a:hover {
    background-color: gold;
    user-select: none;
  }